@page "/Login"
@model dotnet.Pages.LoginModel
@{
}


<div>
    <h1>Login Page</h1>
</div>
<form method="post">
<div class="form-group">
    <label class="control-label" asp-for="user.Email">Email</label>
    <input class="form-control" asp-for="user.Email" />
    <span asp-validation-for="user.Email" class="bg-danger text-light"></span>
</div>
<div class="form-group">
    <label class="control-label" asp-for="user.Password">Password</label>
        <input class="form-control" asp-for="user.Password" />
        <span asp-validation-for="user.Password" class="bg-danger text-light"></span>
</div>
<input type="submit" class="btn btn-primary mt-3" />
</form>