@page
@model dotnet.Pages.ProducthomeModel
@{
}

<div>
    <h1>
        Product Home
    </h1>
</div>

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-1">
        <div class="col-md-4">
             <img class="img-fluid rounded mt-5" src="" alt="img" />
        </div>

    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title"> Product</h5>
            <p class="card-text"> Product</p>
            <p class="card-text"> Product</p>
            
           </div>
           </div>
           </div>
